.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button_div{
  display: flex;
  align-items: center;
  width:200px;
  margin: auto;
  justify-content: space-evenly;
}
.App-link {
  color: #61dafb;
}
.next{
  padding: 5px 10px;
    border: none;
    background-color:rgba(24, 148, 75, 0.911);
    color: rgb(163, 7, 7);
    font-size: medium;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
}
.next:hover{
  background-color: #093faa;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
